<%- include("../cabecalho") %>
<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
<div class="container-nosso">
<div id="calendario">

<div id="funcionarios">
	<% for (const pessoa of model) { %>
        <table id="hover_tabela">
			<tr>
				<th> Nome </th>
				<th> Alocação mensal (projetos/mês/máx) </th>
			</tr> 
			<tr>
			  <td> <%= pessoa.nome %> </div></td> 
			  <td> <%= pessoa.horas %> </td>
		<a href="/funcionarios/alterar?id=<%= pessoa.id %>">ALTERAR</a> |
		<a href="/funcionarios/remover?id=<%= pessoa.id %>">REMOVER</a>
	<% } %>
	</table>
</div>
</div>
</div>
<%- include("../rodape") %>
